{% extends "base.html" %}

{% block app_content %}

    <table class="table table-hover" style="width:100%; border-collapse: collapse">

        <tr>

            <td width="48px"><img src="{{ user.avatar(256) }}"></td>

            <td>

                <h1>User ID: {{ user.id }}</h1>

            </td>

        </tr>

    </table>

    <h2> {{ "Contexts" }}</h2>

<!--    <select name= colours method="GET" action="/">-->

<!--        {% for colour in [0, 1] %}-->

<!--            <option value= "{{colour}}" SELECTED>{{colour}}</option>"-->

<!--        {% endfor %}-->
<!--    </select>-->

    <form action='/' method='POST'>

        {{form.hidden_tag() }}

        <button class="btn btn-info btn-md dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="color_dropdown" >
            Select Color
            <span class="caret"></span>
            </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        {% for subfield in form.choices %}

              <a class="dropdown-item" href="#">
                {{ subfield.label }}
              </a>

        {% endfor %}
        </div>

        <div class="submit">
            {{ form.submit(class="btn btn-info") }}
        </div>

    </form>

    <h2> {{ "Listening events" }} </h2>

    <table class="table">

        <tr>

           <th>{{ "ID" }}</th>

            <th>{{ "Track" }}</th>

            <th>{{ "Artist" }}</th>

            <th>{{ "Country" }}</th>

            <th>{{ "City" }}</th>

            <th>{{ "Season" }}</th>

            <th>{{ "Month" }}</th>

            <th>{{ "Weekend" }}</th>

        </tr>

        {% for event in events %}

            <tr>

                <td>

                    {{ event.id }}

                </td>

                <td>

                    {{ event.name }}

                </td>

                <td>

                    {{ event.artist }}

                </td>

                  <td>

                    {{ event.country }}

                </td>

                <td>

                    {{ event.city }}

                </td>

                <td>

                    {{ event.season }}

                </td>

                <td>

                    {{ event.month }}

                </td>

                <td>

                    {{ event.weekend }}

                </td>

            </tr>

        {% endfor %}

    </table>

{% endblock %}
